<% provide(:title, @voucher.name) %>
<div class="container">
    <div class="row">
        <div class="col-12">
          <p id="notice"><%= notice %></p>
          
          <p>
            <strong>Name:</strong>
            <%= @voucher.name %>
          </p>
          
          <p>
            <strong>Description:</strong>
            <%= @voucher.description %>
          </p>
          
          <p>
            <strong>Price:</strong>
           <%= number_to_currency(@voucher.price, :unit => "€") %>

          </p>
          
          <%= link_to 'Edit', edit_voucher_path(@voucher) %> |
          <%= link_to 'Back', vouchers_path %>
    </div>
  </div>
</div>